.App {
  text-align: center;
}
h3,
h1,
h2,
h4,
h5,
li,
p {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  margin: auto;
  width: 80%;
  margin-top: 40px;
}

.welcome {
  padding: 100px;
  background: url("../public/welcome.jpg");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.list {
  list-style: none;
  padding-left: 0;
}
.ant-row h3 {
  color: white;
}
.stocksCard {
  height: 85px;
  width: 90px;
  object-fit: contain;
}
.stock-info {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}
.stock-info span {
  font-size: 20px;
}
.error-img {
  max-height: 300px;
  max-width: 300px;
}
@media (max-width: 420px) {
  .error-img {
    width: 200px;
    height: 200px;
  }
  .welcome {
    padding: 10px;
    background: url("../public/welcome.jpg");
  }
}
